# Database
DATABASE_URL="postgresql://postgres:AutoLab%402024%23@db.kdbcukdrbwwsgntrsvdi.supabase.co:5432/postgres"

# Server
NODE_ENV=development
PORT=3000
API_URL=http://localhost:3000

# JWT
JWT_SECRET=ed999bfe-31c4-4966-8a2a-05be6ce08877f5bbc2bf-f9d9-4a25-b225-344073ad400ee0c7f4f3-38ac-49c3-9f3b-b10235b12b00
JWT_EXPIRY=7d

# Email (Gmail)
GMAIL_USER=your-email@gmail.com
GMAIL_PASS=your-app-specific-password

# SMS (HSP Media Network)
HSP_SMS_USERNAME=ludoveer
HSP_SMS_API_KEY=your_hsp_sms_api_key
HSP_SMS_SENDER=HIFCAR

# Redis (for OTP caching)
REDIS_URL=redis://localhost:6379

# Frontend URLs (for CORS)
FLUTTER_APP_URL=com.autolab.app
ADMIN_DASHBOARD_URL=http://localhost:3001
PRODUCTION_URL=https://api.autolab.com

# Firebase (For FCM push notifications)
FIREBASE_PROJECT_ID=autolab-prod
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@autolab-prod.iam.gserviceaccount.com
